@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  width: 100px;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar > ul > li {
  padding: 5px;
  margin: 10px;
}

.search {
  padding: 10px;
}

.btns {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
}

.filter-btn {
  margin-left: 30px;
  padding: 10px;
  background-color: green;
  width: fit-content;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.filter-btn:hover {
  background-color: rgb(1, 151, 1);
}

.clear-filter-btn {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px;
  width: fit-content;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(207, 207, 207);
}

.clear-filter-btn:hover {
  background-color: rgb(95, 95, 95);
  color: white;
}

.search-btn {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px;
  width: fit-content;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(149, 158, 239);
  color: white;
}

.search-btn:hover {
  background-color: rgb(122, 133, 238);
  color: white;
}

.search-bar {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(169, 178, 190);
}

.hotel-container,
.shimmer-container {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
}

.hotel-logo {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hotel-card {
  width: 250px;
  height: auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-bottom: 25px;
  overflow: hidden;
  white-space: normal;
}

.hotel-card:link {
  text-decoration: none;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  margin-left: 40px;
  margin-bottom: 25px;
  background-color: rgb(221, 221, 221);
}

.hotel-card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.hotel-card > h3 {
  font-family: sans-serif;
  padding: 5px;
  padding-right: 10px;
}

.hotel-card > h4 {
  font-family: sans-serif;
  padding-left: 5px;
}

.hotel-count {
  font-size: 16px;
  margin-left: 30px;
  padding: 10px;
  width: fit-content;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(193, 193, 193);
  color: rgb(62, 62, 62);
  border-radius: 25px;
}

.about-us-user-cards {
  border: 1px solid #000000;
}
